/*отключение дефолтных стилей*/
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    color: inherit;
}

/*главные стили*/
::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

button {
    font-family: 'montserrat', sans-serif;
}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

.max-width-form {
    max-width: 539px;
    margin: 0 auto;
}

.container {
    flex: 1;
}

.button-up {
    position: fixed;
    bottom: 150px;
    right: 18px;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'montserrat-italic';
    src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf');
}

/*хедер*/
header .max-width {
    display: flex;
    align-items: center;
    gap: 58px;
    padding: 35px 0;
    font-family: 'montserrat', sans-serif;
}

.header-catalog {
    padding: 6.5px 10.5px;
    font-size: 17px;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    background-color: #78BA52;
    color: white;
    border-radius: 5px;
}

.header-catalog a {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-input {
    position: relative;
}

.header-input input {
    height: 50px;
    max-width: 413px;
    background-color: transparent;
    border: 1px solid #78ba52;
    border-radius: 25px;
    width: 413px;
    padding-left: 30px;
}

.header-input button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 10px 11.9px;
    background-color: #78BA52;
    border-radius: 100px;
    max-height: 50px;
}

.header-menu {
    display: flex;
    gap: 49px;
    align-items: center;
}

.header-menu a {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
    font-weight: 700;
    color: #333;
}

/*categories*/
.categories .max-width {
    display: flex;
    gap: 54px;
    align-items: center;
    font-family: 'montserrat-italic', sans-serif;
    padding: 15px 82.5px;
    border-bottom: 1px solid #D9D9D9;
}

.categories .max-width a {
    color: #333;
    font-size: 24px;
}

.categories .max-width .active-category {
    color: #BB1414;
}

/*banner*/
.banner {
    margin-top: 30px;
}

.custom-controls {
    position: relative;
}

.custom-controls button {
    background-color: rgb(120, 186, 82);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 50%;
    padding: 21px 30px;

}

.glide__slide {
    text-align: center;
}

.banner-bottom {
    max-width: 920px;
    margin: 29px auto 0;
    display: flex;
    justify-content: space-between;
}

.banner-bottom a {
    font-size: 36px;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    background-color: rgb(120, 186, 82);
    color: white;
    padding: 10px 28px;
    border-radius: 13px;
}

.glide__slide p {
    margin-top: 28px;
    font-size: 36px;
    font-family: montserrat-italic, sans-serif;
    font-weight: 500;
}

/* Добавляем стили для кнопок */

/*popular*/
.popular {
    font-family: 'montserrat', sans-serif;
    margin-top: 40px;
}

.popular-h {
    text-align: center;
    color: #1E1E1E;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

.popular-block {
    position: relative;
}

.popular-block p {
    position: absolute;
    left: 32px;
    top: 16px;
    font-size: 26px;
    max-width: 223px;
    font-weight: 700;
}

.popular-end .popular-block:first-child {
    text-align: center;
}

.popular-start .popular-block:last-child p {
    max-width: 190px;
}

.popular-end .popular-block:last-child p {
    position: absolute;
    top: 107px;
    left: 305px;
    max-width: 260px;
}

.popular-block img {
    z-index: -1;
}

.popular-categories {
    display: flex;
    color: #fff;
    gap: 19px;
}

.popular-start {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 16px;
}

.popular-end {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 16px;
}

/*популярные товары*/
.pop {
    font-family: 'montserrat', sans-serif;
    margin-top: 40px;
}

.pop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pop-header p {
    font-size: 36px;
    font-weight: bold;
}

.pop-header a p {
    font-size: 26px;
    font-weight: normal;
}

.pop-header a {
    align-items: center;
    display: flex;
    gap: 8px;
}

.pop-main {
    margin-top: 30px;
    display: flex;
    gap: 27px;
    overflow-x: auto;
}

.pop-item {
    display: flex;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    border-radius: 10px;
    max-width: 280px;

}

.pop-image {
    position: relative;
}

.pop-star {
    position: absolute;
    left: 11.5px;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 6.73px 5.5px 10px 5.5px;
    background-color: white;
    border-radius: 5px 5px 0 0;
}

.pop-title {
    font-size: 21px;
    font-weight: 500;
    color: #000;
    margin: 6px 11.5px 21px 11.5px;
}

.pop-weight {
    color: #BABABA;
    font-size: 20px;
    font-weight: 500;
    margin: 0 11.5px 21px;
}

.pop-price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin: 0 16.8px 17px;
    border-radius: 10px;
    width: 148px;
    height: 56px;
    background: #f1f1f1;
}

.pop-item form {
    padding: 0 11.5px;
    margin-bottom: 11.5px;
}

.pop-item form button {
    width: 100%;
    padding: 12px 0;
    border: none;
    font-size: 22px;
    background-color: #78BA52;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
}

/*интересное*/
.interes {
    font-family: 'montserrat', sans-serif;
    margin-top: 40px;
}

.interes-h {
    color: #1E1E1E;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    gap: 33px;
    align-items: center;
    justify-content: center;
    margin-bottom: 36px;
}

.interes-h img {
    height: 31px;
}

.intres-main {
    position: relative;
    max-width: 1040px;
    margin: 0 auto;
}

.interes-read {
    position: absolute;
    top: 39px;
    left: 60px;
    display: flex;
    align-items: center;
    gap: 33px;
    background-color: white;
    padding: 14.5px 27px;
    border-radius: 10px;
    font-size: 29px;
    font-weight: 500;
}

.interes-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDA674;
    border-radius: 26px;
}

.interes-title {
    position: absolute;
    max-width: 803px;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 36px;
    background-color: white;
    padding: 55px 45px;
    border-radius: 30px;
}

.interes-info {
    position: absolute;
    font-size: 17px;
    color: white;
    display: flex;
    align-items: center;
    left: 60px;
    bottom: 40px;
    gap: 27px;
}

.interes-info div {
    display: flex;
    gap: 9px;
    align-items: center;
}

.interes-side {
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    padding-top: 49px;
    justify-content: space-between;
}

.interes-side-item {
    display: flex;
    gap: 11px;
    max-width: 508px;
}

.interes-side-image {
}

.interes-side-info {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: start;
}

.interes-info-read {
    color: #333333;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 33px;
    padding: 9px 11px;
    background-color: #ECECEC;
    border-radius: 10px;
}

.interes-info-read img {
    height: 29px;
}

.interes-info-title {
    font-size: 20px;
    font-weight: 400;
}

.interes-info-count {
    display: flex;
    align-items: center;
    gap: 27px;
}

.interes-info-count div {
    display: flex;
    align-items: center;
    gap: 9px;
}

/*форма отправки*/
.send {
    margin-top: 40px;
    font-family: 'montserrat', sans-serif;
}

.send-block {
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #F97575;
    padding: 78px 63px 50px 63px;
    border-radius: 63px 63px 132px 63px;
}

.send-block img:first-child {
    position: absolute;
    top: 16px;
    left: 21px;
    z-index: 0;
}

.send-block img:nth-child(2) {
    position: absolute;
    bottom: 68px;
    right: 60px;
    z-index: 0;
}

.send-h1 {
    max-width: 675px;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    z-index: 2;
    margin-bottom: 10px;
}

.send-p {
    max-width: 756px;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    z-index: 2;
    margin-bottom: 31px;
}

.send-politic {
    color: #fff;
    font-size: 26px;
    font-weight: 400;
    max-width: 600px;
    z-index: 2;
}

.send-block form {
    z-index: 2;
    margin-bottom: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send-block form input {
    width: 100%;
    padding: 43px 0 33px 39px;
    border-radius: 10px;
    border: none;
    margin-bottom: 17px;
    outline: none;
    color: #333;
    font-size: 27px;
    font-weight: 500;
}

.send-block form input::placeholder {
    color: #BCBCBC;
    font-size: 27px;
    font-weight: 500;
    text-align: start;
}

.send-block form button {
    width: 100%;
    color: #333;
    font-size: 32px;
    font-weight: 500;
    border-radius: 10px;
    padding: 31px 0;
    border: none;
    background-color: #F9F9F9;
    cursor: pointer;
}

.send-politic a {
    text-decoration-line: underline;
}

/*footer*/
footer {
    background-color: #F8F8F8;
    font-family: 'montserrat', sans-serif;
    margin-top: 40px;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.footer-info-up {
    margin: 62px 0 25px;
}

.footer-info-down {
    display: flex;
    gap: 29px;
    margin-bottom: 30px;
}

.footer-down-accordion {
}

.footer-accordion-up {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 32px;
}

.footer-accordion-down {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    gap: 20px;
}

.footer-down-phones {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 21px;
}

.down-numbers {
}

.down-numbers-title {
    font-weight: 700;
    font-size: 18px;
    color: #332;
}

.down-numbers-title span {
    font-size: 16px;
    font-weight: 600;
    color: #949494;
}

.down-numbers-phone {
    color: #333;
    font-weight: 700;
    font-size: 16px;
}

.down-button {
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #78BA52;
    padding: 18px 72px;
}

.footer-messenger {
    border-top: 1px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 49px;
    padding: 30px 0;
}

.footer-messenger a {
    background-color: #EDEDED;
    height: 88px;
    width: 88px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;

}

.footer-right {
    color: #333;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    padding: 35px 0;
}

.category .max-width {
    padding-top: 40px;
    display: flex;
    gap: 35px;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
}

.category-path {
    font-family: 'montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #9b9b9b;
}

.category-title {
    font-family: 'montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #333;
}

.category-blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px;
}

.category-block {
    position: relative;
}

.category-block p {
    font-family: 'montserrat', sans-serif;
    font-style: italic;
    color: #161616;
    position: absolute;
    left: 24px;
    top: 24px;
    font-size: 22px;
    font-weight: 500;
    max-width: 172px;
}

.popular-block img {
    z-index: -1;
}


.catalog {
    margin-top: 40px;
    font-family: 'montserrat', sans-serif;
}

.catalog .max-width {
    padding-top: 40px;
    display: flex;

    gap: 58px;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding-left: 80px;
}

.catalog--back {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: 430px;

}

.catalog--back a {
    font-family: 'montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #333;
}

.catalog-parts {
    display: flex;
    gap: 80px;
}

.catalog-filter {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 0 17px;
    border: 2px solid #78ba52;
    max-width: max-content;
    max-height: 140px;
}

.filter-title {
    padding-left: 17px;
    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.filter-items {
    padding-left: 17px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.filter-item {
    display: flex;
    gap: 15px;
}

.filter-item .catalog-checkbox {
    border: 4px solid #d9d9d9;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.filter-item p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.catalog-main {
    display: flex;
    flex-direction: column;
}

.catalog-main-filter-adaptive {
    display: none;
}

.catalog-main-title {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.count-catalog-adaptive {
    display: none;
}

.catalog-main-title p {

    font-family: 'montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #333;
}

.catalog-main-extra {
    padding-top: 7px;
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: space-between;
    /* gap: 246px; */
    flex-direction: row;
    max-width: 840px;
}

.extra-count {
    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #333;
}

.extra-action {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 27px;
}

.active-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat', sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #78ba52;
    border-radius: 10px;
    width: 198px;
    height: 47px;
    background: #e1f2d7;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'montserrat', sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: #333;
    border-radius: 10px;
    width: 198px;
    height: 47px;
    background: #e7e7e7;
}


.catalog-main-blocks {
    padding-top: 59px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.catalog-main-block {
    display: flex;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    border-radius: 10px;
    max-width: 400px;
}

.catalog-image {
    position: relative;

}

.imageProduct {

    width: 400px;
    height: 208px;
}

.catalog-star {
    position: absolute;
    left: 11.5px;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
}

.catalog-star img {
    width: 20px;
    height: 20px;
}

.catalog-star p {
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.catalog-title {
    font-size: 28px;
    font-weight: 500;
    color: #333;
    font-family: 'montserrat', sans-serif;

    margin: 23px 16.8px 14px 16.8px;
    height: 64px;
}

.catalog-weight {
    color: #BABABA;
    font-size: 24px;
    font-weight: 500;
    font-family: 'montserrat', sans-serif;

    margin: 0 16.8px 17px;
}

.catalog-price {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #333;

    margin: 0 16.8px 17px;

    border-radius: 10px;
    width: 148px;
    height: 56px;
    background: #f1f1f1;
}


.catalog-main-block form {
    padding: 0 11.5px;
    margin-bottom: 11.5px;
}

.catalog-main-block form button {
    width: 100%;
    padding: 12px 0;
    border: none;
    font-size: 22px;
    background-color: #78BA52;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
}

.catalog-switch {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 699px;
    height: 66px;
    gap: 58px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #8b8b8b;
    padding: 20px 40px;
    width: 189px;
    height: 66px;
    background: #fff;

    font-family: 'montserrat', sans-serif;
    color: #8b8b8b;
    font-size: 30px;
    font-weight: 500;
}

.active-number {
    padding: 20px 40px;
    width: 81px;
    height: 66px;
    background: #78ba52;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-number a {
    font-family: 'montserrat', sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8b8b8b;
    padding: 20px 40px;
    width: 81px;
    height: 66px;
    background: #fff;
}

.number a {
    font-family: 'montserrat', sans-serif;
    color: #8b8b8b;
    font-size: 30px;
    font-weight: 500;
}

.switch-number {

    display: flex;
    flex-direction: row;
    gap: 42px;
    width: 205px;
    height: 66px;

}


.login,
.register,
.changeUser {
    margin-top: 40px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-h,
.register-h,
.changeUser-h {
    font-family: 'montserrat', sans-serif;
    font-size: 36px;
    font-weight: 600;

    color: #111;
    margin-bottom: 22px;
}

.login form,
.register form,
.changeUser form {
    width: 480px;
    display: flex;
    flex-direction: column;
}

.login form label,
.register form label,
.changeUser form label {
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;

    color: #4C4C4C;
    margin-bottom: 16px;
}

.login form input,
.register form input,
.changeUser form input {
    border: 1px solid #8B8B8B;
    padding: 20px;
    margin-bottom: 35px;

    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    color: #8B8B8B;
    font-weight: 400;

}

.login form input::placeholder,
.register form input::placeholder,
.changeUser form input::placeholder {
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    color: #8B8B8B;
    font-weight: 400;

}

.login button,
.register button,
.changeUser button {
    color: #fff;
    background-color: #78ba52;
    font-size: 24px;
    padding: 20px 0;
    font-weight: 600;

    border: none;
    margin-bottom: 35px;
}

.login a,
.register a {
    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;

    color: #333;
    background-color: transparent;
    border: 1px solid #78ba52;
    text-align: center;
    padding: 20px 0;
}

.extraButtonAdmin {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.addProduct {
    border-radius: 10px;
    padding: 10px;
    width: 199px;
    height: 43px;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    color: #fff;
    background: #78ba52;
}

.cart {
    margin-top: 24px;
}

.cart-path a {
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #9b9b9b;
}

.cart-title {
    margin-top: 35px;
    margin-bottom: 50px;

    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #333;
}

.cart-parts {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cart-left {
    display: flex;
    flex-direction: column;
}

.leftCartTitle {
    margin-bottom: 16px;
    font-family: 'montserrat', sans-serif;

    font-weight: 500;
    font-size: 26px;
    color: #333;
}

.cart-left form {
    width: 502px;
    display: flex;
    flex-direction: column;
}

.cart-left form label {
    margin-top: 10px;
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;

    color: #4C4C4C;
    margin-bottom: 10px;
}

.cart-left form input {
    border-radius: 5px;
    width: 100%;
    height: 86px;
    border: 1px solid #8B8B8B;
    padding: 32px;
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    color: #8B8B8B;
    font-weight: 400;

}

.cart-left form input::placeholder {
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    color: #8B8B8B;
    font-weight: 400;

}

.cart-right {
    display: flex;
    flex-direction: column;
}

.countCart {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.countCart a {
    font-family: 'montserrat', sans-serif;

    font-weight: 400;
    font-size: 25px;
    color: #000;
}

.countCart p {
    font-family: 'montserrat', sans-serif;

    font-weight: 500;
    font-size: 25px;
    color: #000;
}

.delete {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.productCart {
    margin-top: 49px;
    padding-bottom: 49px;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #8b8b8b;
}

.infaCart {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.titleCartProduct {
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #1e1e1e;
}

.extraInfaCart {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.priceCart {
    border-radius: 10px;
    width: 113px;
    height: 40px;

    background: #dda674;

    font-family: 'montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.counterCart {
    display: flex;
    width: 176px;
    height: 58px;
}

.counter--minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    background: #78ba52;
}

.counter--count {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #78ba52;
    width: 60px;
    height: 58px;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #333;
}

.counter--plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    background: #78ba52;
}

.infaPriceCart {
    margin-top: 17px;
    padding-bottom: 17px;

    display: flex;
    gap: 21px;
    flex-direction: column;

    border-bottom: 1px solid #8b8b8b;
}

.infaPriceText {
    font-family: 'montserrat', sans-serif;

    font-weight: 500;
    font-size: 25px;
    color: #333;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.infaPriceExtra {
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #8b8b8b;
}

.infaPriceMain {
    display: flex;
    width: 100%;
    justify-content: space-between;

    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #333;
}

.buttonCart {
    margin-top: 25px;
    border-radius: 5px;
    width: 560px;
    height: 77px;
    background: #78ba52;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-path {
    margin-top: 40px;
    display: flex;
    gap: 6px;
    align-items: center;
}

.product-path a {
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #333;
}

.product-part {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 48px;

}

.product-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.product-down {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.product-left-adaptive{
display: none;
}

.product-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 560px;
    justify-content: space-between;
}

.product-down .product-left {
    gap: 16px;
}

.product-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 500px;
}


.product-name {
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #1e1e1e;
}

.product-star {
    display: flex;
    gap: 5px;
}

.product-star p {
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #333;
}

.groupStars {
    display: flex;
    gap: 5px;
}

.groupStars img {
    width: 28px;
    height: 28px;
}

.infa {
    display: flex;
    align-items: center;
    gap: 22px;
}

.price-product {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 233px;
    height: 67px;
    background: #dda674;
}

.price-product p {
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #fff;
}


.weight-product {
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #bababa;
}

.product-button {
    border-radius: 5px;
    max-width: 560px;
    height: 90px;
    background: #78ba52;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #fff;
}


.block-name {
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #333;
}

.block-text {
    max-width: 560px;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #333;
}

.block-infa {
    display: flex;
    gap: 29px;
    width: 100%;
}

.block-item {
    display: flex;
    flex-direction: column;
}

.name-item {
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #333;
}

.numbers-item {
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #333;
}


.red {
    margin: 74px auto;
    max-width: 703px;
    border: 5px solid #d9d9d9;
    padding: 23px 68.5px 26.5px 68.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red-h {
    font-family: 'montserrat', sans-serif;
    font-size: 38px;
    font-weight: 400;
    text-align: center;

    color: #333;
}

.red-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
}

.red-input label {
    font-family: 'montserrat', sans-serif;
    font-size: 22px;
    font-weight: 500;

}

.red-input input[type='text'] {
    font-family: 'montserrat', sans-serif;
    font-size: 22px;

    border: 2px solid #c1c1c1;
    border-radius: 10px;
    height: 50px;
}


.red button {
    font-family: 'montserrat', sans-serif;
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;

    border: none;
    padding: 21px 94.5px;
    background-color: #78ba52;
    border-radius: 5px;
}

.container {
    flex: 1;
}

.accordion {
    padding-top: 52px;
    margin-bottom: 44px;

}

.details {
    border-top: 1px solid #8b8b8b;
    border-bottom: 1px solid #8b8b8b;


    position: relative;
    display: block;
    max-width: 100%;
    padding-top: 35px;
    padding-bottom: 15px;

    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transition: 0.3s;
    overflow: hidden;
}

.details::after {

    z-index: 12;
    position: absolute;
    right: 24px;
    top: 45px;
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-right: 3px solid #333333;
    border-bottom: 3px solid #333333;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: .3s;
}

.details[open]::after {
    transform: rotate(45deg);
}

.details[open] .details__content {
    margin-top: 0;
}

.details__title {
    z-index: 10;
    position: relative;
    background: #fff;
    border-radius: 5px;

    padding-bottom: 24px;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #333;
    cursor: pointer;
    list-style: none;
    font-weight: 700;
    transition: .3s;
}

.details__content {
    z-index: 0;
    position: relative;
    padding: 24px;
    font-size: 18px;
    margin-top: -100px;
    transition: .3s;
}

.details__content p {
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #333;
}

.details__content p:last-child {
    margin-bottom: 0;
}

.details__content p:first-child {
    margin-top: 0;
}

.buttonActionProducts {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.buttonChangeProducts,
.buttonDeleteProducts {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    width: 247px;
    height: 52px;
}


.buttonChangeProducts {
    background: rgba(96, 141, 208, 0.88);
}

.buttonDeleteProducts {
    background: #E07272;
}

.buttonAddProducts a,
.buttonChangeProducts a,
.buttonDeleteProducts a {
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.profile .max-width {
    padding-top: 54px;
    padding-bottom: 54px;

    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.icon-user {
    display: flex;

}

.nameUser {
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #040404;
}

.switch-pages-profile {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    max-width: 684px;
}

.switch-pages-profile a {
    border: 1px solid #8b8b8b;
    border-radius: 5px;
    padding: 10px 15px;
    width: max-content;
    height: 57px;
    background: #fff;


    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #111;
}

.switch-pages-profile a:hover {
    background: #78ba52;
    color: #fff;
}


.about-count-month {
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #000;
}

.infa-about-blocks {
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #000;
}

.profile-inCatalog {
    display: flex;
    align-items: center;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #fff;
    border-radius: 10px;
    padding: 20px 40px;
    width: max-content;
    height: 58px;
    background: #78ba52;
}

.profile-infa .max-width {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-count-month,
.infa-about-blocks,
.profile-inCatalog,
.switch-pages-profile,
.request {
    margin-left: 139px;
}

.about-count-month,
.infa-about-blocks,
.profile-inCatalog {
    max-width: 482px;
}

.profile-requests {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
}

.request {
    padding: 15px 18px;
    max-width: 395px;
    height: 250px;
    background: #f9f9f9;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.request-data {
    display: flex;
    gap: 20px;
}

.data,
.time {
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #8b8b8b;
}

.request-count {
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #111;
}

.request-price {
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #111;
}

.button-requet {
    display: flex;
    gap: 9px;
    flex-direction: column;


}

.confirm,
.cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    max-width: 351px;
    height: 56px;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.confirm {
    background: #78ba52;
    color: #fff;
}

.cancel {
    border: 1px solid #78ba52;
    background: #fff;
    color: #333;
}

/*адаптив для планшета*/
@media (max-width: 668px) {
    .max-width {
        padding: 0 35px;
        margin: 0;
        width: 100%;
    }

    header {
        padding: 0 35px;
    }

    .header-menu {
        display: none;
    }

    .header-catalog {
        display: none;
    }

    header .max-width {
        gap: 39px;
        padding: 20px 0;
    }

    .header-logo img {
        width: 226px;
    }

    .header-input input {
        max-width: 258px;
        height: 22px;
    }

    .header-input button img {
        width: 11.5px;
    }

    .header-input button {
        padding: 3px 0 0;
        height: 22px;
        width: 22px;
    }

    .categories {
        overflow-x: auto;
    }

    .categories .max-width {
        border-top: 1px solid #d9d9d9;
        padding-left: 6px;
        gap: 39px;
        overflow-x: auto;
    }

    .categories .max-width a {
        font-size: 16px;
        text-wrap: nowrap;
    }

    .categories .max-width {
        font-size: 19px;
        font-weight: 400;
    }

    .banner {
        margin-top: 0;
    }

    .banner .max-width {
        padding: 12px 35px 0 35px;
    }

    .glide__slide p {
        font-size: 26px;
        max-width: 510px;
        margin: 0 auto;
    }

    .glide__arrow--left {
        left: 1em !important;
    }

    .glide__arrow--right {
        right: 1em !important;
    }

    .banner-bottom a {
        font-size: 19px;
    }

    .custom-controls button img {
        height: 21px;
        width: 12px;
    }

    .custom-controls {
        left: -80px;
    }

    .popular-block p {
        font-size: 20px;
    }

    .popular-categories {
        flex-wrap: wrap;
        gap: 18px;
    }

    .popular-end {
        gap: 18px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .popular-block p {
        left: 15px;
    }

    .popular-start .popular-block:last-child p {
        max-width: 100px;
    }

    .popular-end .popular-block:nth-child(3) p {
        text-wrap: nowrap;
        left: 240px;
    }

    .popular-end .popular-block:nth-child(1) img {
        max-width: 220px;
        max-height: 220px;
    }

    .popular-end .popular-block:nth-child(2) img {
        max-width: 220px;
        max-height: 220px;
    }

    .popular-end .popular-block:nth-child(3) img {
        max-width: 450px;
        max-height: 220px;
    }

    .popular-start {
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 18px;
    }

    .popular-h {
        font-size: 26px;
    }

    .popular-start .popular-block img {
        max-width: 220px;
        max-height: 220px;
    }

    .pop-header p {
        font-size: 26px;
    }

    .pop-header a p {
        font-size: 18px;
    }

    .pop-header a img {
        height: 15px;
    }

    .pop-item {
        max-width: 199px;
    }

    .pop-item .pop-image img {
        max-width: 199px;
    }

    .pop-star {
        font-size: 6px;
    }

    .pop-star img {
        height: 7px;
    }

    .pop-title {
        font-size: 12px;
        max-width: 134px;
        margin-bottom: 6px;
    }

    .pop-weight {
        font-size: 12px;
        margin-bottom: 6px;
    }

    .pop-price {
        font-size: 9px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    .pop-item form button {
        font-size: 12px;
    }

    .interes-h {
        font-size: 26px;
    }

    .interes-h img {
        height: 20px;
    }

    .interes-main {
        max-width: 462px;
    }

    .interes-image img {
        max-width: 462px;
    }

    .interes-read img {
        max-width: 15px;
    }

    .interes-read {
        font-size: 15px;
        top: 14px;
        left: 12px;
        padding: 5px 16px 5px 8px;
        gap: 8px;
    }

    .interes-title {
        display: flex;
        justify-content: center;
        max-width: 350px;
        padding: 18px 0;
    }

    .interes-title p {
        max-width: 330px;
        font-size: 21px;
    }

    .interes-info {
        font-size: 13px;
        left: 20px;
        bottom: 10px;
    }

    .interes-info div {
        gap: 5px;
    }

    .interes-info div img {
        max-height: 13px;
    }

    .interes-side {
        flex-direction: column;
        padding-top: 22px;
        gap: 13px;
    }

    .interes-info-read {
        gap: 8px;
        padding: 5px 9px;
        font-size: 13px;
    }

    .interes-info-read img {
        height: 12px;
    }

    .interes-side-item {
        width: 100%;
    }

    .interes-info-title {
        font-size: 14px;
    }

    .interes-side-image img {
        max-height: 98px;
    }

    .interes-side-info {
        justify-content: space-between;
        max-height: 98px;
    }

    .interes-info-count img {
        height: 13px;
    }

    .interes-info-count {
        font-size: 9px;
    }

    .send-h1 {
        font-size: 19px;
        max-width: 340px;
    }

    .send-p {
        font-size: 13px;
        max-width: 340px;
    }

    .send-block img:first-child {
        max-height: 87px;
    }

    .send-block {
        padding: 39px 50px 20px 34px;
        border-radius: 30px 30px 94px 30px;
    }

    .send-block form {
        margin-bottom: 39px;
    }

    .send-block form input {
        max-height: 55px;
        padding: 19px 0 18px 17px;
        font-size: 15px;
    }

    .send-block form input::placeholder {
        font-size: 15px;
    }

    .send-block form button {
        font-size: 18px;
        padding: 16px 0;
        text-align: center;
        max-height: 55px;
    }

    .send-politic {
        font-size: 12px;
    }

    .footer-info-up {
        display: none;
    }

    .footer-accordion-down {
        display: none;
    }

    .footer-accordion-up {
        display: flex;
        justify-content: space-between;
    }

    .footer-down-accordion {
        border-radius: 20px;
        background-color: #ededed;
        max-width: 440px;
        width: 100%;
        padding: 20px 38px;
        font-size: 16px;
        font-weight: 700;
    }

    .footer-accordion-up {
        margin: 0;
    }

    .footer-accordion-down > .visible {
        display: flex;
    }

    .down-numbers-title span {
        display: block;
    }

    .down-numbers {
        text-align: center;
    }

    .footer-messenger {
        gap: 20px;
    }

    .footer-info-down {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 17px;
    }

    .down-numbers {
        gap: 6px;
        flex-direction: column;
        display: flex;
    }

    .down-numbers span {
        margin-top: 6px;
    }

    .footer-down-phones {
        align-items: center;
    }

    .footer-messenger a {
        max-height: 66px;
        max-width: 66px;
    }

    .footer-messenger a img {
        max-height: 42px;
        max-width: 42px;
    }

    .footer-right {
        font-size: 14px;
        font-weight: 500;
        color: #333333;
    }

    .block-mobile {
        position: sticky;
        bottom: 0;
        left: 0;
        background-color: #fff;
        z-index: 100;
        padding: 34px 0;
        font-family: 'montserrat', sans-serif;
        display: flex;
        gap: 145px;
        justify-content: center;
        width: 100%;
    }

    .block-mobile div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }

    .custom-controls button {
        padding: 0;
        height: 44px;
        width: 44px;
    }

    .category-path {
        font-size: 16px;
        margin-bottom: 18px;
    }

    .category-title {
        font-size: 26px;
        margin-bottom: 26px;
    }

    .category .max-width {
        gap: 0;
    }

    .category-blocks {
        grid-template-columns: repeat(3, 1fr);
        gap: 13px;
    }

    .category-block {
        max-width: 161.85px;
    }

    .category-block p {
        font-size: 16px;
        left: 16px;
        top: 16px;
    }

    .category-block img {
        max-width: 161.85px;
    }

    .catalog-filter {
        display: none;
    }

    .catalog--back {
        margin: 0 0 0 80px;
    }

    .catalog--back img {
        max-height: 12px;
    }

    .catalog--back a {
        font-size: 18px;
    }

    .catalog .max-width {
        padding-top: 29px;
        gap: 29px;
    }

    .catalog-main-filter-adaptive {
        display: flex;
        gap: 8px;
        padding: 13px 15px;
        background-color: #f1f1f1;
        border-radius: 5px;
        align-items: center;
        max-width: 124px;
        font-size: 18px;
        margin: 14px 0 29px 0;
    }

    .count-catalog-adaptive {
        display: flex;
        font-size: 16px;
    }

    .catalog-main-title {
        align-items: center;
        justify-content: normal;
        gap: 29px;
        text-wrap: nowrap;
    }
    .catalog-main-title p{
        font-size: 26px;
    }
    .extra-count{
        display: none;
    }
    .catalog-main-blocks{
        padding-top: 29px;
    }
    .catalog-main-blocks .pop-item{
        max-width: none;
    }
    .catalog-main-blocks .pop-item img{
        max-width: none;
    }
    .catalog-main-blocks .pop-item .pop-title{
        margin-top: 8px;
        margin-bottom: 12px;
        font-size: 14px;
    }
    .catalog-main-blocks .pop-item .pop-star{
        font-size: 9px;
    }
    .catalog-main-blocks .pop-item .pop-price{
        font-size: 15px;
        width: 88px;
        height: 25px;
        border-radius: 5px;
        margin-left: 10px;
        margin-bottom: 12px;
    }
    .catalog-main-block .pop-item .pop-weight{
        font-size: 15px;
        margin-bottom: 12px;
    }
    .catalog-main-block .pop-item form button{
        font-size: 12px;
    }
    .catalog-switch{
        gap: 26px;
    }
    .catalog-switch .button{
        font-size: 16px;
        padding: 10px 17px;
        max-width: 86px;
        max-height: 40px;
    }
    .catalog-switch .switch-number{
        max-width: 93px;
        max-height: 40px;
        gap: 19px;
    }
    .catalog-switch .switch-number a{
        font-size: 16px;
    }
    .catalog-switch .switch-number .active-number{
        padding: 10px 17px;
        max-width: 37px;
        max-height: 40px;
    }
    .catalog-switch .switch-number .number{
        padding: 10px 17px;
        max-width: 37px;
        max-height: 40px;
    }

    .product .max-width{
        padding: 0 80px;
    }
    .product-left{
        display: none;
    }
    .product-right{
        display: none;
    }
    .product-left-adaptive{
        display: block;
    }
    .product-left-div{
        display: flex;
        justify-content: space-between;
        margin-bottom: 7px;
        align-items: center;
    }
    .product-left-div .product-name{
        font-size: 20px;
    }
    .product-left-div .product-star p{
        font-size: 15px;
    }
    .product-left-div .product-star .groupStars{
        gap: 3px;
    }
    .product-left-div .product-star .groupStars img{
        height: 19px;
        width: 19px;
    }
    .product-left-adaptive .product-weight-count{
        margin-bottom: 17px;
    }
    .product-left-adaptive .product-weight-count p{
        font-size: 18px;
    }

    .product-left-adaptive img{
        margin-bottom: 27px;
    }
    .product-left-adaptive .infa .price-product{
        max-width: 181px;
        max-height: 61px;
        margin-bottom: 17px;
    }
    .product-left-adaptive .infa .price-product p{
        font-size: 28px;
    }
    .product-left-adaptive .product-button{
        font-size: 30px;
        max-height: 78px;
    }
    .product-path a{
        font-size: 18px;
    }
    .product-path img{
        height: 22px;
    }
    @media (max-width: 700px) {

        /*.max-width {*/
        /*    max-width: 508px;*/
        /*    margin: 0 auto;*/
        /*}*/
        .burger-menu div {
            width: 30px;
            height: 3px;
            background-color: #333;
            margin: 5px;
            border-radius: 5px;
        }

        .max-width-form {
            max-width: 440px;
            margin: 0 auto;
        }

        .login,
        .register,
        .changeUser {
            margin-top: 42px;
            margin-bottom: 44px;
        }

        .login-h,
        .register-h,
        .changeUser-h {
            font-size: 26px;
            margin-bottom: 18px;
        }

        .login form,
        .register form,
        .changeUser form {
            width: 440px;
        }

        .login form label,
        .register form label,
        .changeUser form label {
            font-size: 20px;
            margin-bottom: 16px;
        }

        .login form input,
        .register form input,
        .changeUser form input {
            margin-bottom: 22px;
            font-size: 20px;
        }

        .login form input::placeholder,
        .register form input::placeholder,
        .changeUser form input::placeholder {
            font-size: 20px;
        }

        .login button,
        .register button,
        .changeUser button {
            font-size: 20px;
            margin-bottom: 18px;
        }

        .login a,
        .register a {
            font-size: 20px;
        }
    }
    @media screen and (max-width: 400px) {
        /*
            .max-width {
                max-width: 1200px;
                margin: 0 auto;
            } */
        .max-width-form {
            max-width: 316px;
            margin: 0 auto;
        }

        .login,
        .register,
        .changeUser {
            margin-top: 30px;
            margin-bottom: 26px;
        }

        .login-h,
        .register-h,
        .changeUser-h {
            font-size: 21px;
            margin-bottom: 18px;
        }

        .login form,
        .register form,
        .changeUser form {
            width: 316px;
        }

        .login form label,
        .register form label,
        .changeUser form label {
            font-size: 16px;
            margin-bottom: 12px;
        }

        .login form input,
        .register form input,
        .changeUser form input {
            margin-bottom: 16px;
            font-size: 16px;
        }

        .login form input::placeholder,
        .register form input::placeholder,
        .changeUser form input::placeholder {
            font-size: 16px;
        }

        .login button,
        .register button,
        .changeUser button {
            font-size: 20px;
            margin-bottom: 18px;
        }

        .login a,
        .register a {

            font-size: 20px;
        }
    }
    @media screen and (max-width: 376px) {
        .block-mobile {
            gap: 36px;
            font-size: 8px;
        }

        .block-mobile div {
            gap: 5px;
        }

        .block-mobile div img {
            height: 25px;
            width: 25px;
        }

        .max-width {
            padding: 0 30px;
        }

        .glide__slide {
            width: 100%;
            height: auto;
        }

        .popular-start {
            gap: 10px;
        }

        .popular-end {
            gap: 10px;
        }

        .popular-start .popular-block p {
            font-size: 12px;
        }

        .popular-start .popular-block {
            max-width: 144px;
            max-height: 144px;
        }

        .popular-start .popular-block img {
            max-width: 144px;
            max-height: 144px;
        }

        .popular-end .popular-block:nth-child(1) {
            max-width: 144px;
            max-height: 144px;
            font-size: 12px;
        }

        .popular-end .popular-block:nth-child(1) img {
            max-width: 144px;
            max-height: 144px;
        }

        .popular-end .popular-block:nth-child(2) {
            max-width: 144px;
            max-height: 144px;
            font-size: 12px;
        }

        .popular-end .popular-block:nth-child(2) img {
            max-width: 144px;
            max-height: 144px;
        }

        .popular-end .popular-block:nth-child(3) {
            max-width: 298px;
            max-height: 144px;
            font-size: 16px;
        }

        .popular-end .popular-block:nth-child(1) p {
            font-size: 12px;
        }

        .popular-block p {
            left: 9px;
        }

        .popular-h {
            font-size: 16px;
            font-weight: 600;
        }

        .popular-end .popular-block:nth-child(3) p {
            left: 132px;
            top: 63px;
        }

        .popular-end .popular-block:nth-child(2) p {
            font-size: 12px;
        }

        .popular-end .popular-block:nth-child(3) p {
            font-size: 16px;
        }

        .popular-end .popular-block:nth-child(3) img {
            max-width: 298px;
            max-height: 144px;
        }

        .pop-header p {
            font-size: 16px;
        }

        .pop-item form button {
            padding: 7px 0;
        }

        .pop-header a p {
            font-size: 12px;
        }

        .pop-header a img {
            height: 12px;
        }

        .pop-item .pop-image img {
            max-width: 146px;
        }

        .header-logo img {
            max-width: 132px;
        }

        header .max-width {
            gap: 13px;
            align-items: center;
        }

        .header-input {
            max-width: 137px;
        }

        .header-input input {
            max-width: 137px;
        }

        header {
            padding: 0 30px;
        }

        .categories .max-width {
            gap: 26px;
        }

        .categories .max-width a {
            font-size: 14px;
        }

        .burger-menu div {
            border-radius: 20px;
        }

        .footer-messenger {
            gap: 20px;
        }

        .footer-messenger a {
            max-height: 36px;
            max-width: 36px;
        }

        .footer-messenger a img {
            max-height: 23px;
            max-width: 23px;
        }

        .footer-right {
            font-size: 8px;
            padding: 23px 0;
        }

        .button-up a img {
            height: 25px;
            width: 25px;
        }

        .footer-messenger {
            padding: 25px 0;
        }

        .footer-down-accordion {
            max-width: 316px;
            padding: 0;
        }

        .footer-accordion-up {
            font-size: 12px;
            font-weight: 700;
            padding: 14px 24px 14px 30px;
        }

        .footer-info-down {
            gap: 6px;
        }

        .footer-down-phones {
            margin-bottom: 45px;
        }

        .down-button {
            font-size: 15px;
            padding: 14px 0;
            width: 100%;
            text-align: center;
        }

        .send-politic {
            font-size: 9px;
        }

        .send-block form {
            padding: 0;
        }

        .send-block form {
            margin-bottom: 28px;
        }

        .send-block form button {
            padding: 9px 0;
            font-size: 18px;
        }

        .send-block form input::placeholder {
            font-size: 12px;
        }

        .send-block form input {
            font-size: 12px;
            padding: 12px 0 12px 12px;
            margin-bottom: 7px;
        }

        .send-block img:nth-child(2) {
            width: 65px;
            right: 27px;
            bottom: 24px;
        }

        .send-block img:nth-child(1) {
            width: 61px;
            left: 7px;
            top: 5px;
        }

        .send-h1 {
            font-size: 16px;
        }

        .send-p {
            font-size: 10px;
            margin-bottom: 10px;
        }

        .interes-side-image img {
            object-fit: cover;
            max-width: 83px;
            height: 80px;
            border-radius: 10px;
        }

        .interes-info-read img {
            height: 12px;
        }

        .interes-info-read {
            align-items: center;
            padding: 4px 8px;
        }

        .interes-info-read p {
            font-size: 9px;
        }

        .interes-info-title {
            font-size: 10px;
        }

        .interes-side-info {
            gap: 0;
            max-height: 80px;
        }

        .interes-info-count img {
            max-height: 13px;
        }

        .interes-info-count {
            gap: 5px;
            color: #CBCBCB;
            font-size: 6px;
        }

        .interes-image img {
            max-width: 316px;
        }

        .interes-h {
            font-size: 16px;
            margin-bottom: 14px;
        }

        .interes-h img {
            max-height: 12px;
        }

        .interes-title {
            max-width: 244px;
            border-radius: 20px;
            padding: 10px 5px;
        }

        .interes-info {
            left: 13px;
            bottom: 8px;
            font-size: 6px;
            gap: 9px;
        }

        .interes-info img {
            max-height: 13px;
        }

        .interes-title p {
            font-size: 15px;
        }

        .interes {
            margin-top: 24px;
        }

        .glide__slide p {
            font-size: 13px;
        }

        .glide__slide img {
            max-height: 125px;
        }

        .banner-bottom a {
            font-size: 12px;
            padding: 5px 10px;
        }

        .custom-controls button {
            max-height: 25px;
            max-width: 25px;
        }

        .custom-controls button img {
            max-height: 12px;
        }

        .glide__arrow--right {
            right: 0.2em !important;
        }

        .glide__arrow--left {
            left: 0.2em !important;
        }

        .custom-controls {
            left: -30px;
        }

        .block-mobile {
            padding: 17px 0;
        }

        .category-path {
            font-size: 12px;
            margin-bottom: 14px;
        }

        .category-title {
            font-size: 16px;
            margin-bottom: 16px;
        }

        .category .max-width {
            gap: 0;
            padding: 20px 30px 0 30px;
        }

        .category-blocks {
            grid-template-columns: repeat(3, 1fr);
            gap: 7px;
            justify-content: center;
        }

        .category-block {
            max-width: 101px;
        }

        .category-block p {
            font-size: 10px;
            left: 10px;
            top: 10px;
        }

        .category-block img {
            max-width: 101px;
        }
        .catalog-filter {
            display: none;
        }

        .catalog--back {
            margin: 0 0 0 30px;
        }
        .catalog{
            margin-top: 20px;
        }
        .catalog--back img {
            max-height: 12px;
        }

        .catalog--back a {
            font-size: 14px;
        }
        .catalog-main-extra .extra-action .active-filter{
            font-size: 12px;
            max-width: 148px;
            max-height: 35px;
        }
        .catalog-main-extra .extra-action .filter{
            font-size: 12px;
            max-width: 148px;
            max-height: 35px;
        }
        .catalog .max-width {
            padding-left: 30px;
            display: block;
        }

        .catalog-main-filter-adaptive {
            display: flex;
            gap: 8px;
            padding: 5px 4.5px;
            background-color: #f1f1f1;
            border-radius: 5px;
            align-items: center;
            max-width: 92px;
            font-size: 14px;
            margin: 14px 0 20px 0;
        }
        .catalog-main-extra{
            padding-top: 0;
        }
        .count-catalog-adaptive {
            display: flex;
            font-size: 12px;
        }
        a.addProduct{
            font-size: 12px;
            padding: 5px 10px;
            width: auto;
            height: auto;
            border-radius: 5px;
        }
        .catalog-main-title {
            align-items: center;
            justify-content: normal;
            gap: 10px;
            text-wrap: nowrap;
        }
        .catalog-main-title p{
            font-size: 16px;
        }
        .extra-count{
            display: none;
        }
        .extra-action{
            gap: 20px;
        }
        .catalog-main-blocks{
            padding-top: 29px;
            gap: 14px;
            grid-template-columns: repeat(2, 146px);
        }
        .catalog-main-blocks .pop-item{
            max-width: 146px;
        }
        .catalog-main-blocks .pop-item img{
            max-width: 146px;
        }
        .catalog-main-blocks .pop-item .pop-title{
            margin-top: 3px;
            margin-bottom: 9px;
            font-weight: 400;
            font-size: 14px;
        }
        .catalog-main-blocks .pop-item .pop-star{
            font-size: 6px;
        }
        .catalog-main-blocks .pop-item .pop-price{
            font-size: 9px;
            width: 56px;
            height: 19px;
            border-radius: 5px;
            margin-left: 10px;
            margin-bottom: 12px;
        }
        .catalog-main-blocks .pop-item form{
            padding: 0 6px;
            margin-bottom: 6px;
        }
        .catalog-main-block .pop-item .pop-weight{
            font-size: 15px;
            margin-bottom: 9px;
        }
        .catalog-main-block .pop-item form button{
            font-size: 9px;
        }
        .catalog-switch{
            max-width: 317px;
            gap: 26px;
            margin: 20px auto 0;
        }
        .catalog-switch .button{
            font-size: 16px;
            padding: 10px 17px;
            max-width: 86px;
            max-height: 40px;
        }
        .catalog-switch .switch-number{
            max-width: 93px;
            max-height: 40px;
            gap: 19px;
        }
        .catalog-switch .switch-number a{
            font-size: 16px;
        }
        .catalog-switch .switch-number .active-number{
            padding: 10px 17px;
            max-width: 37px;
            max-height: 40px;
        }
        .catalog-switch .switch-number .number{
            padding: 10px 17px;
            max-width: 37px;
            max-height: 40px;
        }
    }
}
