/*отключение дефолтных стилей*/
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a {
    color: inherit;
}

/*главные стили*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

.max-width-form {
    max-width: 539px;
    margin: 0 auto;
}

.container {
    flex: 1;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'montserrat-italic';
    src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf');
}

/*хедер*/
header .max-width {
    display: flex;
    align-items: center;
    gap: 58px;
    padding: 35px 0;
    font-family: 'montserrat', sans-serif;
}

.header-catalog {
    padding: 6.5px 10.5px;
    font-size: 17px;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    background-color: #78BA52;
    color: white;
    border-radius: 5px;
}

.header-catalog a {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-input {
    position: relative;
}

.header-input input {
    height: 50px;
    max-width: 413px;
    background-color: transparent;
    border: 1px solid #78ba52;
    border-radius: 25px;
    width: 413px;
    padding-left: 30px;
}

.header-input button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 10px 11.9px;
    background-color: #78BA52;
    border-radius: 100px;
    max-height: 50px;
}

.header-menu {
    display: flex;
    gap: 49px;
    align-items: center;
}

.header-menu a {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
    font-weight: 700;
    color: #333;
}

/*categories*/
.categories .max-width {
    display: flex;
    gap: 54px;
    align-items: center;
    font-family: 'montserrat-italic', sans-serif;
    padding: 15px 82.5px;
    border-bottom: 1px solid #D9D9D9;
}

.categories .max-width a {
    color: #333;
    font-size: 24px;
}

.categories .max-width .active-category {
    color: #BB1414;
}

/*banner*/
.banner {}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.swiper-button-prev {
    left: 20px;
}

.swiper-button-next {
    right: 20px;
}

/*popular*/
.popular {
    font-family: 'montserrat', sans-serif;
    margin-top: 40px;
}

.popular-h {
    text-align: center;
    color: #1E1E1E;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

.popular-block {
    position: relative;
}

.popular-block p {
    position: absolute;
    left: 32px;
    top: 16px;
    font-size: 26px;
    max-width: 223px;
    font-weight: 700;
}

.popular-end .popular-block:first-child {
    text-align: center;
}

.popular-start .popular-block:last-child p {
    max-width: 190px;
}

.popular-end .popular-block:last-child p {
    position: absolute;
    top: 107px;
    left: 305px;
    max-width: 260px;
}

.popular-block img {
    z-index: -1;
}

.popular-categories {
    display: flex;
    color: #fff;
    gap: 19px;
}

.popular-start {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 16px;
}

.popular-end {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 16px;
}

/*популярные товары*/
.pop {
    font-family: 'montserrat', sans-serif;
    margin-top: 40px;
}

.pop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pop-header p {
    font-size: 36px;
    font-weight: bold;
}

.pop-header a p {
    font-size: 26px;
    font-weight: normal;
}

.pop-header a {
    align-items: center;
    display: flex;
    gap: 8px;
}

.pop-main {
    margin-top: 30px;
    display: flex;
    gap: 27px;
}

.pop-item {
    display: flex;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    border-radius: 10px;
    max-width: 280px;

}

.pop-image {
    position: relative;
}

.pop-star {
    position: absolute;
    left: 11.5px;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 6.73px 5.5px 10px 5.5px;
    background-color: white;
    border-radius: 5px 5px 0 0;
}

.pop-title {
    font-size: 21px;
    font-weight: 500;
    color: #000;
    margin: 6px 11.5px 21px 11.5px;
}

.pop-weight {
    color: #BABABA;
    font-size: 20px;
    font-weight: 500;
    margin: 0 11.5px 21px;
}

.pop-price {
    font-size: 23px;
    font-weight: bold;
    margin: 0 11.5px 21px;
}

.pop-item form {
    padding: 0 11.5px;
    margin-bottom: 11.5px;
}

.pop-item form button {
    width: 100%;
    padding: 12px 0;
    border: none;
    font-size: 22px;
    background-color: #78BA52;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
}

/*интересное*/
.interes {
    font-family: 'montserrat', sans-serif;
    margin-top: 40px;
}

.interes-h {
    color: #1E1E1E;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    gap: 33px;
    align-items: center;
    justify-content: center;
    margin-bottom: 36px;
}

.interes-h img {
    height: 31px;
}

.intres-main {
    position: relative;
    max-width: 1040px;
    margin: 0 auto;
}

.interes-read {
    position: absolute;
    top: 39px;
    left: 60px;
    display: flex;
    align-items: center;
    gap: 33px;
    background-color: white;
    padding: 14.5px 27px;
    border-radius: 10px;
    font-size: 29px;
    font-weight: 500;
}

.interes-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDA674;
    border-radius: 26px;
}

.interes-title {
    position: absolute;
    max-width: 803px;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 36px;
    background-color: white;
    padding: 55px 45px;
    border-radius: 30px;
}

.interes-info {
    position: absolute;
    font-size: 17px;
    color: white;
    display: flex;
    align-items: center;
    left: 60px;
    bottom: 40px;
    gap: 27px;
}

.interes-info div {
    display: flex;
    gap: 9px;
    align-items: center;
}

.interes-side {
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    padding-top: 49px;
    justify-content: space-between;
}

.interes-side-item {
    display: flex;
    gap: 11px;
    max-width: 508px;
}

.interes-side-image {}

.interes-side-info {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: start;
}

.interes-info-read {
    color: #333333;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 33px;
    padding: 9px 11px;
    background-color: #ECECEC;
    border-radius: 10px;
}

.interes-info-read img {
    height: 29px;
}

.interes-info-title {
    font-size: 20px;
    font-weight: 400;
}

.interes-info-count {
    display: flex;
    align-items: center;
    gap: 27px;
}

.interes-info-count div {
    display: flex;
    align-items: center;
    gap: 9px;
}

/*форма отправки*/
.send {
    margin-top: 40px;
    font-family: 'montserrat', sans-serif;
}

.send-block {
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #F97575;
    padding: 78px 63px 50px 63px;
    border-radius: 63px 63px 132px 63px;
}

.send-block img:first-child {
    position: absolute;
    top: 16px;
    left: 21px;
    z-index: 0;
}

.send-block img:nth-child(2) {
    position: absolute;
    bottom: 68px;
    right: 60px;
    z-index: 0;
}

.send-h1 {
    max-width: 675px;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    z-index: 2;
    margin-bottom: 10px;
}

.send-p {
    max-width: 756px;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    z-index: 2;
    margin-bottom: 31px;
}

.send-politic {
    color: #fff;
    font-size: 26px;
    font-weight: 400;
    max-width: 600px;
    z-index: 2;
}

.send-block form {
    z-index: 2;
    margin-bottom: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send-block form input {
    width: 100%;
    padding: 43px 0 33px 39px;
    border-radius: 10px;
    border: none;
    margin-bottom: 17px;
    outline: none;
    color: #333;
    font-size: 27px;
    font-weight: 500;
}

.send-block form input::placeholder {
    color: #BCBCBC;
    font-size: 27px;
    font-weight: 500;
    text-align: start;
}

.send-block form button {
    width: 100%;
    color: #333;
    font-size: 32px;
    font-weight: 500;
    border-radius: 10px;
    padding: 31px 0;
    border: none;
    background-color: #F9F9F9;
    cursor: pointer;
}

.send-politic a {
    text-decoration-line: underline;
}

/*footer*/
footer {
    background-color: #F8F8F8;
    font-family: 'montserrat', sans-serif;
    margin-top: 40px;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.footer-info-up {
    margin: 62px 0 25px;
}

.footer-info-down {
    display: flex;
    gap: 29px;
    margin-bottom: 30px;
}

.footer-down-accordion {}

.footer-accordion-up {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 32px;
}

.footer-accordion-down {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    gap: 20px;
}

.footer-down-phones {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 21px;
}

.down-numbers {}

.down-numbers-title {
    font-weight: 700;
    font-size: 18px;
    color: #332;
}

.down-numbers-title span {
    font-size: 16px;
    font-weight: 600;
    color: #949494;
}

.down-numbers-phone {
    color: #333;
    font-weight: 700;
    font-size: 16px;
}

.down-button {
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #78BA52;
    padding: 18px 72px;
}

.footer-messenger {
    border-top: 1px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 49px;
    padding: 30px 0;
}

.footer-messenger a {
    background-color: #EDEDED;
    height: 88px;
    width: 88px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;

}

.footer-right {
    color: #333;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    padding: 35px 0;
}

.category .max-width {
    padding-top: 40px;
    display: flex;
    gap: 35px;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
}

.category-path {
    font-family: 'montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #9b9b9b;
}

.category-title {
    font-family: 'montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #333;
}

.category-blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px;
}

.category-block {
    position: relative;
}

.category-block p {
    font-family: 'montserrat', sans-serif;
    font-style: italic;
    color: #161616;
    position: absolute;
    left: 24px;
    top: 24px;
    font-size: 22px;
    font-weight: 500;
    max-width: 172px;
}

.popular-block img {
    z-index: -1;
}


.catalog {
    margin-top: 40px;
}

.catalog .max-width {
    padding-top: 40px;
    display: flex;

    gap: 58px;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding-left: 80px;
}

.catalog--back {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: 430px;

}

.catalog--back a {
    font-family: 'montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #333;
}

.catalog-parts {
    display: flex;
    gap: 80px;
}

.catalog-filter {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 0 17px;
    border: 2px solid #78ba52;
    max-width: max-content;
    max-height: 140px;
}

.filter-title {
    padding-left: 17px;
    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.filter-items {
    padding-left: 17px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.filter-item {

    display: flex;
    /* align-items: center;
    justify-content: center; */
    gap: 15px;
}

.filter-item .catalog-checkbox {
    border: 4px solid #d9d9d9;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.filter-item p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.catalog-main {
    display: flex;
    flex-direction: column;
}

.catalog-main-title {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.catalog-main-title p {

    font-family: 'montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #333;
}

.catalog-main-extra {
    padding-top: 7px;
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: space-between;
    /* gap: 246px; */
    flex-direction: row;
    max-width: 840px;
}

.extra-count {
    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #333;
}

.extra-action {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 27px;
}

.active-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat', sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #78ba52;
    border-radius: 10px;
    width: 198px;
    height: 47px;
    background: #e1f2d7;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'montserrat', sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: #333;
    border-radius: 10px;
    width: 198px;
    height: 47px;
    background: #e7e7e7;
}


.catalog-main-blocks {
    padding-top: 59px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.catalog-main-block {
    display: flex;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    border-radius: 10px;
    max-width: 400px;
}

.catalog-image {
    position: relative;

}

.imageProduct {

    width: 400px;
    height: 208px;
}

.catalog-star {
    position: absolute;
    left: 11.5px;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
}

.catalog-star img {
    width: 20px;
    height: 20px;
}

.catalog-star p {
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.catalog-title {
    font-size: 28px;
    font-weight: 500;
    color: #333;
    font-family: 'montserrat', sans-serif;

    margin: 23px 16.8px 14px 16.8px;
    height: 64px;
}

.catalog-weight {
    color: #BABABA;
    font-size: 24px;
    font-weight: 500;
    font-family: 'montserrat', sans-serif;

    margin: 0 16.8px 17px;
}

.catalog-price {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #333;

    margin: 0 16.8px 17px;

    border-radius: 10px;
    width: 148px;
    height: 56px;
    background: #f1f1f1;
}


.catalog-main-block form {
    padding: 0 11.5px;
    margin-bottom: 11.5px;
}

.catalog-main-block form button {
    width: 100%;
    padding: 12px 0;
    border: none;
    font-size: 22px;
    background-color: #78BA52;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
}

.catalog-switch {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 699px;
    height: 66px;
    gap: 58px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #8b8b8b;
    padding: 20px 40px;
    width: 189px;
    height: 66px;
    background: #fff;

    font-family: 'montserrat', sans-serif;
    color: #8b8b8b;
    font-size: 30px;
    font-weight: 500;
}

.active-number {


    padding: 20px 40px;
    width: 81px;
    height: 66px;
    background: #78ba52;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-number a {
    font-family: 'montserrat', sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8b8b8b;
    padding: 20px 40px;
    width: 81px;
    height: 66px;
    background: #fff;
}

.number a {
    font-family: 'montserrat', sans-serif;
    color: #8b8b8b;
    font-size: 30px;
    font-weight: 500;
}

.switch-number {

    display: flex;
    flex-direction: row;
    gap: 42px;
    width: 205px;
    height: 66px;

}


.login,
.register,
.changeUser {
    margin-top: 40px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-h,
.register-h,
.changeUser-h {
    font-family: 'montserrat', sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0%;
    color: #111;
    margin-bottom: 22px;
}

.login form,
.register form,
.changeUser form {
    width: 480px;
    display: flex;
    flex-direction: column;
}

.login form label,
.register form label,
.changeUser form label {
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0%;
    color: #4C4C4C;
    margin-bottom: 16px;
}

.login form input,
.register form input,
.changeUser form input {
    border: 1px solid #8B8B8B;
    padding: 20px;
    margin-bottom: 35px;

    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    color: #8B8B8B;
    font-weight: 400;
    letter-spacing: 0%;
}

.login form input::placeholder,
.register form input::placeholder,
.changeUser form input::placeholder {
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    color: #8B8B8B;
    font-weight: 400;
    letter-spacing: 0%;
}

.login button,
.register button,
.changeUser button {
    color: #fff;
    background-color: #78ba52;
    font-size: 24px;
    padding: 20px 0;
    font-weight: 600;
    letter-spacing: 0%;
    border: none;
    margin-bottom: 35px;
}

.login a,
.register a {
    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0%;
    color: #333;
    background-color: transparent;
    border: 1px solid #78ba52;
    text-align: center;
    padding: 20px 0;
}

.extraButtonAdmin {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.addProduct {
    border-radius: 10px;
    padding: 10px;
    width: 199px;
    height: 43px;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    color: #fff;
    background: #78ba52;
}


.cart {
    margin-top: 24px;
}

.cart-path a {
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #9b9b9b;
}

.cart-title {
    margin-top: 35px;
    margin-bottom: 50px;

    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #333;
}

.cart-parts {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cart-left {
    display: flex;
    flex-direction: column;
}

.leftCartTitle {
    margin-bottom: 16px;
    font-family: 'montserrat', sans-serif;

    font-weight: 500;
    font-size: 26px;
    color: #333;
}

.cart-left form {
    width: 502px;
    display: flex;
    flex-direction: column;
}

.cart-left form label {
    margin-top: 10px;
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0%;
    color: #4C4C4C;
    margin-bottom: 10px;
}

.cart-left form input {
    border-radius: 5px;
    width: 100%;
    height: 86px;
    border: 1px solid #8B8B8B;
    padding: 32px;
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    color: #8B8B8B;
    font-weight: 400;
    letter-spacing: 0%;
}

.cart-left form input::placeholder {
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    color: #8B8B8B;
    font-weight: 400;
    letter-spacing: 0%;
}

.cart-right {
    display: flex;
    flex-direction: column;
}

.countCart {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.countCart a {
    font-family: 'montserrat', sans-serif;

    font-weight: 400;
    font-size: 28px;
    color: #000;
}

.countCart p {
    font-family: 'montserrat', sans-serif;

    font-weight: 500;
    font-size: 28px;
    color: #000;
}

.delete {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.productCart {
    margin-top: 49px;
    padding-bottom: 49px;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #8b8b8b;
}

.infaCart {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.titleCartProduct {
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #1e1e1e;
}



.extraInfaCart {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.priceCart {
    border-radius: 10px;
    width: 113px;
    height: 40px;

    background: #dda674;

    font-family: 'montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.counterCart {
    display: flex;
    width: 176px;
    height: 58px;
}

.counter--minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    background: #78ba52;
}

.counter--count {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #78ba52;
    width: 60px;
    height: 58px;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #333;
}

.counter--plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    background: #78ba52;
}

.infaPriceCart {
    margin-top: 17px;
    padding-bottom: 17px;

    display: flex;
    gap: 21px;
    flex-direction: column;

    border-bottom: 1px solid #8b8b8b;
}

.infaPriceText {
    font-family: 'montserrat', sans-serif;

    font-weight: 500;
    font-size: 25px;
    color: #333;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.infaPriceExtra {
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #8b8b8b;
}

.infaPriceMain {
    display: flex;
    width: 100%;
    justify-content: space-between;

    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #333;
}

.buttonCart {
    margin-top: 25px;
    border-radius: 5px;
    width: 560px;
    height: 77px;
    background: #78ba52;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}